body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f560;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.021);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box {
  width: 99%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
}

.filtered-list {
  list-style-type: none;
  padding: 0;
}

.filtered-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.filtered-list li:last-child {
  border-bottom: none;
}
